/* Light Theme */
body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--font-color);
}

/* Container */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header h1 {
    margin: 0;
    flex: 1;
}

.nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    margin: 0 10px;
}

.nav-menu a {
    text-decoration: none;
    color: var(--font-color);
}

.nav-menu .active {
    font-weight: bold;
    border-bottom: 2px solid var(--font-color);
}

/* Add spacing between sections */
section {
    margin-bottom: 2rem;
}

.job-role {
    font-weight: bold;
    color: var(--font-color);
}

/* Dark Theme */
body.dark-theme {
    background-color: #151515;
    color: #fff;
}
body.dark-theme a {
    color: #1a95e0;
}
body.dark-theme .terminal-card > header {
    background-color: #1a95e0;
    color: #fff;
}
body.dark-theme .terminal-card {
    border-color: #727578;
}
body.dark-theme .terminal-card > div {
    background-color: #272727;
}
body.dark-theme h1, body.dark-theme h2, body.dark-theme h3, body.dark-theme h4, body.dark-theme h5, body.dark-theme h6 {
    color: #fff;
}
body.dark-theme .job-role {
    color: #1a95e0; /* Ensure job role text color is visible in dark mode */
}
body.dark-theme .nav-menu a {
    color: #1a95e0;
}
body.dark-theme .nav-menu .active {
    border-bottom: 2px solid #1a95e0;
}

.header-right {
    float: right;
}

.fa-link {
    margin-left: 0.5rem;
}

/* Responsive Design */
@media (max-width: 600px) {
    .header {
        flex-direction: column;
        text-align: center;
    }
    .nav-menu {
        justify-content: center;
    }
}

h1::after {
  content: "==========";

  position: absolute;

  bottom: var(--global-space);

  left: 0;
}
