.nav {
    margin: 20px auto;
    left: 60px;
    width: 455px;
    min-height: auto;
}

ul.list,
ul.list ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

ul.list ul {
    margin-left:10px; 
    position:relative;
}

ul.list ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid #ccc;
}

ul.list li  {
    margin:0;
    padding:3px 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-size:13px;
    line-height:20px;
    color:#444;
    font-weight:normal;
    position:relative;
}

ul.list ul li:before {
    content:"";
    display:block;
    width:8px;
    height:0;
    border-top:1px solid #ccc;
    position:absolute;
    top:10px;
    left: 0;
}

ul.list ul li:last-child:before {
    height: auto;
    top: 10px; 
    bottom: 0;
}